.infoBox {
    margin-top: 20px;
    padding-left: 10px;
    background-color: #FFFFFF;
    display: block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.4);
    padding-bottom: 1em;
}

ul {
    margin: 0;
    padding-bottom: 1px;
}

ul li {
    padding: 0;
}

h2 {
    padding-right: 5px;
    padding-bottom: 1px;
    margin-bottom: 5px;
    border-bottom: 2px ridge;
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
}

h4 {
    padding-bottom: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}

footer {
    clear: both;
    position: relative;
    text-align: center;
    color: #333;
}

a {
    color: #336;
    text-decoration: none;
}