.component_wrapper {
	padding-left: 20%;
}
.component_container {
	position: relative;
    width: 100%;
    height: 100%;
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	line-height: normal;
}

.cd_component {
	border : 1px solid #fff;
	color: #fff;
	position: absolute;
	padding-left: 10px;
	padding-right: 10px;
}
.cd_header {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 14pt;
	font-weight: bold;
}
 
.cd_content {
	padding: 0;
	margin: 0;
}

.cd_component:hover {
	-webkit-box-shadow: 0 0 5px 2px #ccccff;
    -moz-box-shadow: 0 0 5px 2px #ccccff;
    box-shadow: 0 0 5px 2px #ccccff;
}

.cd_data {
	position: absolute;
	text-align: center;
	font-style: italic;
}
.cd_lines {
	position: absolute;
    width: 100%;
    height: 100%;
}

.cd_db {
	border-radius: 25px;
}