.center {
    width: 800px;
    margin: 0 auto;
}

.mainContentDiv {
	position: relative;
	top: 230px;
	background-color: white;
}

#aboutContent {
}

#aboutContent h3 {
    padding-bottom: 1px;
    margin-bottom: 5px;
}

div.infoBox #schoolDate {
    display:inline;
    float: right;
    padding-right: 1em;
}

.logo {
    height: 10em;
}

#projectList {
    text-align: center;
}