body {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Verdana, Arial;
    font-size: 12px;
}

ul {
    margin-top: 2px;
    padding-top: 2px;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

ul li {
    padding-top: 2px;
    padding-bottom: 2px;
}

h2 {
    padding-right: 5px;
    padding-bottom: 1px;
    margin-bottom: 5px;
    border-bottom: 2px ridge;
}

td {
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: top;
}

a:link {color:#2554C7;text-decoration:none;}

.column-list {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.title-text {
    font-size: 18pt;
}

.date-right {
    float: right;
}

.indented {
    padding-left: 15px;
}

.double-indented {
    padding-left: 30px;
}

#name {
    text-align: center;
    padding-bottom: 5px;
}

#personal-info {
    text-align: center;
    width: 100%;
}

#personal-info td {
    width: 33%;
}

#technologies {
    width: 100%;
}

#technologies td {
    width: 33%;
}