body {
    width: 68em;
    margin: 0 auto;
    padding: 20px;
    font-family: Verdana, Arial;
    font-size: 12pt;
}

.title-text {
    font-size: 32pt;
    margin: 25px;
}

.header {
    text-align: center;
    width: 100%;
    position: relative;
}

.contact-bar {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-evenly;
    background-color: #f7f7f7;
    font-size: 14pt;
}

.contact-bar a {
    text-decoration: none;
}

.contact-bar img {
    height: calc(100% - 10px);
    margin: 5px;
    float: left;
}

.content {
    margin: -20px 0 0 20px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.content h1 {
    margin: 2em 0 0.6em 0;
}

.content h2 {
    margin: 0;
    font-size: 1.2em;
}

.skills {
    margin-left: 0px;
    margin-right: 2em;
}

.skills h3,h4 {
    margin: 3px 3px;
}

.skills span {
    margin: 0 5px 0 10px;
}

.experience-type ul {
    margin-top: 0.5em;
}

.left-flex-align {
    margin-right: 20px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.line {
    border: 1px solid #afafaf;
    margin: 15px 0;
}

.content-font {
    font-size: 14pt;
}

.date-right {
    font-size: 12pt;
    float: right;
}

.indented {
    padding-left: 15px;
}

.double-indented {
    padding-left: 30px;
}